*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(17, 177, 17);
    border-radius: 10px;
}

.header > img{
    height: 8rem;
    width: auto;
}

.header > h1{
    color: white;
    font-size: 3rem;
}

.header > button{
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_form{
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.header_form > p{
    font-size: 1.5rem;
    margin: 0;
}

.header_form > button{
    font-size: 1.2rem;
    background: none;
    border: none;
    font-weight: bold;
}

.formulario > form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#identificador{
    margin-bottom: 0.5rem;
    border: 1px solid blue;
    font-size: 19px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid black;
}

.info > label {
    font-size: 20px;
}

.info > input{
    height: 1.6rem;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
}

.marca{
    display: flex;
    border: 1px solid black;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.marca > label{
    font-size: 20px;
}

.marca > input{
    width: 1.2rem;
    height: 1.2rem;
}

.formulario > form > button{
    margin-inline: 7.5rem;
    font-size: 17px;
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 10px;
}

.campo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
}

